body {
  background-color: lightgreen;
  color: royalblue;
  text-decoration: underline;
}

h1 {
  font-family: Permanent Marker, cursive;
  font-size: 24px;
  margin-bottom: -0.5em;
}

p, input, input:placeholder-shown, ul {
  font-family: Nothing You Could Do, cursive;
  font-size: 16px;
}

input, ul {
  width: 55%;
  margin-left: 20%;
  margin-bottom: 10px;
  padding-left: 2em;
  color: royalblue;
}

button {
  width: 25px;
  color: white;
  background-color: royalblue;
  font-weight: bolder;
  border-radius: 7px;
  border-color: royalblue;
  text-shadow: none;
}

button:hover, span:hover {
  cursor: pointer;
}

input {
  border-radius: 7px;
}

ul {
  list-style-type: none;
  display: inline-block;

}

.masthead {
  text-align: center;
}

.title {

}

#date {
  margin-bottom: 1em;
}

#new-item {
  margin-bottom: 1.5em;
}

#add {
}

/* Responsive */

@media screen and (min-width: 601px) {
  h1 {
  font-size: 48px;
  }
  p, input, input:placeholder-shown, ul {
  font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  input, ul {
  margin-left: 10%;
  }
}
