body {
  background-color: lightgreen;
  text-decoration: underline;
  color: royalblue;
}

h1 {
  font-family: Permanent Marker, cursive;
  font-size: 24px;
}

p, input, input:placeholder-shown {
  font-family: Nothing You Could Do, cursive;
  font-size: 16px;
  text-decoration: strikethrough;
}

input {
  width: 55%;
  margin-left: 20%;
  margin-bottom: 5px;
  padding-left: 2em;
  color: royalblue;
  font-size: 16px;
}

button {
  width: 25px;
  color: royalblue;
  font-weight: bolder;
  vertical-align: middle;
}

input:placeholder-shown {

}

.add {
  width: 50px;
  min-width: 20px;
}

.masthead {
  text-align: center;
}

.title {
  padding-bottom: 0;
  margin-bottom: 0;
}

#date {
  padding-top: 0;
}

.new-item {
  margin-bottom: 1.67em;
}
